In [1]:
# Ha = Citi Bike users under the age of 35 bike for longer durations compared to the average users
# H0 = Citi Bike users under the age of 35 bike either for shorter or the same durantions compared to the average users

# Ha = Trip duration (under age 35) > Trip duration (general pop)
# H0 = Trip duration (under age 35) <= Trip duration (general pop)

In [67]:
from __future__  import print_function, division
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline

if os.getenv ('PUI2016') is None:
    print ("Must set env variable PUI2016")
if os.getenv ('PUIDATA') is None:
    print ("Must set env variable PUI2016")

import os
import json

Populating the interactive namespace from numpy and matplotlib

In [68]:
PUIdata = os.getenv('PUIDATA')

In [69]:
PUIdata

'/home/cusp/nm2565/PUIdata'

In [70]:
complaints = pd.read_csv('/projects/open/NYCOpenData/nycopendata/data/erm2-nwe9/1446832678/erm2-nwe9'\
                   , usecols=['Created Date', 'Complaint Type','Community Board', 'Borough',\
                              'Resolution Description'])

In [71]:
complaints.head()

,Created Date,Complaint Type,Resolution Description,Community Board,Borough
0,11/05/2015 02:59:15 AM,Street Condition,NaN,13 BROOKLYN,BROOKLYN
1,11/05/2015 02:09:49 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified
2,11/05/2015 02:06:51 AM,Root/Sewer/Sidewalk Condition,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,11/05/2015 02:02:20 AM,Illegal Parking,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
4,11/05/2015 01:57:20 AM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified

In [72]:
print(len(complaints))

10187766

In [73]:
#check if all the boroughs are present in the dataset
un_bor = complaints.Borough.unique()
un_cb = complaints['Community Board'].unique()
print("Borough \n")
for i in complaints.Borough.unique():
    print(i)

Borough

BROOKLYN
Unspecified
STATEN ISLAND
MANHATTAN
BRONX
QUEENS

In [74]:
#We now know that data for all the five boroughs is present.

In [75]:
com = complaints['Community Board'].unique()
com = pd.Series(com)

In [76]:
#To check the unique values
print('Total number of borough %s'%(len(un_bor)))
print('Total number of community board %s'%(len(un_cb)))

Total number of borough 6
Total number of community board 77

In [77]:
#to check the number of duplicate values
print("Total number of duplicated values %s"%complaints.duplicated().sum())

Total number of duplicated values 2578639

In [78]:
dup_complaints = complaints[complaints.duplicated() == True]

In [79]:
for i in un_bor:
    print('Borough : %s \n'%i)
    print(dup_complaints[dup_complaints['Borough'] == i].count())
    print('\n')

Borough : BROOKLYN

Created Date              621141
Complaint Type            621141
Resolution Description    568081
Community Board           621141
Borough                   621141
dtype: int64


Borough : Unspecified

Created Date              781309
Complaint Type            781309
Resolution Description    775664
Community Board           781309
Borough                   781309
dtype: int64


Borough : STATEN ISLAND

Created Date              38543
Complaint Type            38543
Resolution Description    24725
Community Board           38543
Borough                   38543
dtype: int64


Borough : MANHATTAN

Created Date              346599
Complaint Type            346599
Resolution Description    314011
Community Board           346599
Borough                   346599
dtype: int64


Borough : BRONX

Created Date              562749
Complaint Type            562749
Resolution Description    512653
Community Board           562749
Borough                   562749
dtype: int64


Borough : QUEENS

Created Date              228298
Complaint Type            228298
Resolution Description    163471
Community Board           228298
Borough                   228298
dtype: int64

In [80]:
un_complaints = complaints[complaints.duplicated() == False]

In [82]:
for i in un_bor:
    print('Borough : %s \n'%i)
    print(un_complaints[un_complaints['Borough'] == i].count())
    print('\n')

Borough : BROOKLYN

Created Date              2210791
Complaint Type            2210791
Resolution Description    1146554
Community Board           2210791
Borough                   2210791
dtype: int64


Borough : Unspecified

Created Date              328137
Complaint Type            328137
Resolution Description    305036
Community Board           328137
Borough                   328137
dtype: int64


Borough : STATEN ISLAND

Created Date              452455
Complaint Type            452455
Resolution Description    171544
Community Board           452455
Borough                   452455
dtype: int64


Borough : MANHATTAN

Created Date              1553406
Complaint Type            1553406
Resolution Description     874407
Community Board           1553406
Borough                   1553406
dtype: int64


Borough : BRONX

Created Date              1102876
Complaint Type            1102876
Resolution Description     636012
Community Board           1102876
Borough                   1102876
dtype: int64


Borough : QUEENS

Created Date              1961462
Complaint Type            1961462
Resolution Description     908857
Community Board           1961462
Borough                   1961462
dtype: int64

In [83]:
un_complaints.head()

,Created Date,Complaint Type,Resolution Description,Community Board,Borough
0,11/05/2015 02:59:15 AM,Street Condition,NaN,13 BROOKLYN,BROOKLYN
1,11/05/2015 02:09:49 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified
2,11/05/2015 02:06:51 AM,Root/Sewer/Sidewalk Condition,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,11/05/2015 02:02:20 AM,Illegal Parking,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
4,11/05/2015 01:57:20 AM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified

In [84]:
(un_complaints[un_complaints['Complaint Type'] == 'Benefit Card Replacement']\
 ['Community Board'] == '01 MANHATTAN').sum()

1

In [85]:
cb = pd.Series(complaints['Community Board'])

In [86]:
#extracting only the required values
complaints['Community Index'] =cb.str.extract('(\d+)', expand=True)

In [87]:
complaints['Community Borough'] = cb.str.extract('([A-Z]\w{0,})', expand=True)

In [88]:
complaints.head()

,Created Date,Complaint Type,Resolution Description,Community Board,Borough,Community Index,Community Borough
0,11/05/2015 02:59:15 AM,Street Condition,NaN,13 BROOKLYN,BROOKLYN,13,BROOKLYN
1,11/05/2015 02:09:49 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0,Unspecified
2,11/05/2015 02:06:51 AM,Root/Sewer/Sidewalk Condition,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN,18,BROOKLYN
3,11/05/2015 02:02:20 AM,Illegal Parking,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN,12,BROOKLYN
4,11/05/2015 01:57:20 AM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0,Unspecified

In [89]:
#checking the data type
complaints['Community Index'] = pd.to_numeric(complaints['Community Index'])
type(complaints['Community Index'][0])

numpy.float64

In [90]:
cd_manhattan = (complaints['Community Index'] > 0) & (complaints['Community Index'] < 13) \
& (complaints['Community Borough'] == 'MANHATTAN')

In [ ]:
#taking only the valid community districts

In [91]:
cd_brooklyn = (complaints['Community Index'] > 0) & (complaints['Community Index'] < 19) \
& (complaints['Community Borough'] == 'BROOKLYN')

In [92]:
cd_queens = (complaints['Community Index'] > 0) & (complaints['Community Index'] < 15) \
& (complaints['Community Borough'] == 'QUEENS')

In [93]:
cd_statenisland = (complaints['Community Index'] > 0) & (complaints['Community Index'] < 4) \
& (complaints['Community Borough'] == 'STATEN')

In [94]:
cd_bronx = (complaints['Community Index'] > 0) & (complaints['Community Index'] < 13) \
& (complaints['Community Borough'] == 'BRONX')

In [95]:
cd_total = cd_manhattan | cd_brooklyn | cd_queens | cd_statenisland | cd_bronx

In [96]:
complaints[~cd_total]

,Created Date,Complaint Type,Resolution Description,Community Board,Borough,Community Index,Community Borough
1,11/05/2015 02:09:49 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0.0,Unspecified
4,11/05/2015 01:57:20 AM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
6,11/05/2015 01:55:37 AM,Agency Issues,Your comments have been submitted to the Depar...,0 Unspecified,Unspecified,0.0,Unspecified
70,11/05/2015 12:10:22 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0.0,Unspecified
72,11/05/2015 12:09:21 AM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0.0,Unspecified
85,11/05/2015 12:01:18 AM,Agency Issues,Your comments have been submitted to the Depar...,0 Unspecified,Unspecified,0.0,Unspecified
150,11/04/2015 11:24:32 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
218,11/04/2015 11:00:00 PM,Noise,NaN,Unspecified QUEENS,QUEENS,NaN,Unspecified
231,11/04/2015 10:54:00 PM,Noise,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
234,11/04/2015 10:51:00 PM,Street Light Condition,NaN,Unspecified BROOKLYN,BROOKLYN,NaN,Unspecified
264,11/04/2015 10:42:00 PM,Noise,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
280,11/04/2015 10:39:00 PM,Traffic Signal Condition,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
292,11/04/2015 10:34:34 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
302,11/04/2015 10:30:00 PM,Street Light Condition,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
320,11/04/2015 10:24:00 PM,Street Light Condition,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
369,11/04/2015 10:10:00 PM,Traffic Signal Condition,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
371,11/04/2015 10:10:00 PM,Noise,NaN,Unspecified MANHATTAN,MANHATTAN,NaN,Unspecified
390,11/04/2015 10:07:12 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
454,11/04/2015 09:47:58 PM,Blocked Driveway,Your complaint has been forwarded to the New Y...,0 Unspecified,Unspecified,0.0,Unspecified
470,11/04/2015 09:44:13 PM,Agency Issues,Your comments have been submitted to the 311 C...,0 Unspecified,Unspecified,0.0,Unspecified
489,11/04/2015 09:35:00 PM,Street Light Condition,NaN,Unspecified BRONX,BRONX,NaN,Unspecified
514,11/04/2015 09:27:46 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
549,11/04/2015 09:13:15 PM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0.0,Unspecified
572,11/04/2015 09:05:03 PM,Opinion for the Mayor,Your comments have been submitted to the Mayor...,0 Unspecified,Unspecified,0.0,Unspecified
576,11/04/2015 09:03:42 PM,Highway Condition,The Department of Transportation requires 14 d...,Unspecified QUEENS,QUEENS,NaN,Unspecified
577,11/04/2015 09:03:29 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
583,11/04/2015 09:03:10 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
587,11/04/2015 09:02:00 PM,Street Light Condition,NaN,Unspecified BRONX,BRONX,NaN,Unspecified
605,11/04/2015 08:56:00 PM,Benefit Card Replacement,The Human Resources Administration received yo...,0 Unspecified,Unspecified,0.0,Unspecified
609,11/04/2015 08:54:46 PM,DOF Literature Request,The appropriate agency will fulfill this liter...,0 Unspecified,Unspecified,0.0,Unspecified
...,...,...,...,...,...,...,...
10187736,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187737,01/01/2010 12:00:00 AM,PLUMBING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187738,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187739,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187740,01/01/2010 12:00:00 AM,GENERAL CONSTRUCTION,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187741,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187742,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187743,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187744,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187745,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187746,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187747,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187748,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187749,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187750,01/01/2010 12:00:00 AM,PAINT - PLASTER,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187751,01/01/2010 12:00:00 AM,APPLIANCE,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187752,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187753,01/01/2010 12:00:00 AM,GENERAL CONSTRUCTION,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187754,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187755,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187756,01/01/2010 12:00:00 AM,ELECTRIC,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187757,01/01/2010 12:00:00 AM,HEATING,More than one complaint was received for this ...,0 Unspecified,Unspecified,0.0,Unspecified
10187758,01/01/2010 12:00:00 AM,GENERAL CONSTRUCTION,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187759,01/01/2010 12:00:00 AM,PAINT - PLASTER,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187760,01/01/2010 12:00:00 AM,PAINT - PLASTER,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187761,01/01/2010 12:00:00 AM,ELECTRIC,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187762,01/01/2010 12:00:00 AM,GENERAL CONSTRUCTION,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187763,01/01/2010 12:00:00 AM,APPLIANCE,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187764,01/01/2010 12:00:00 AM,HEATING,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified
10187765,01/01/2010 12:00:00 AM,PAINT - PLASTER,The Department of Housing Preservation and Dev...,0 Unspecified,Unspecified,0.0,Unspecified

In [97]:
complaints = complaints[cd_total]
complaints.drop(['Community Index', 'Community Borough'], axis = 1, inplace=True)
complaints.head()

,Created Date,Complaint Type,Resolution Description,Community Board,Borough
0,11/05/2015 02:59:15 AM,Street Condition,NaN,13 BROOKLYN,BROOKLYN
2,11/05/2015 02:06:51 AM,Root/Sewer/Sidewalk Condition,The Department of Parks and Recreation usually...,18 BROOKLYN,BROOKLYN
3,11/05/2015 02:02:20 AM,Illegal Parking,Your complaint has been received by the Police...,12 BROOKLYN,BROOKLYN
5,11/05/2015 01:55:55 AM,Highway Condition,The Department of Transportation requires 10 d...,02 STATEN ISLAND,STATEN ISLAND
7,11/05/2015 01:47:12 AM,Noise - Commercial,Your complaint has been forwarded to the New Y...,08 MANHATTAN,MANHATTAN

In [98]:
len(complaints['Community Board'].unique())

59

In [99]:
complaints1 = complaints.groupby('Community Board').count()
complaints1.drop([u'Created Date', u'Resolution Description',
       u'Borough'], axis = 1, inplace = True)
complaints1['Rank'] = complaints1['Complaint Type'].rank(ascending=False)

In [100]:
complaints1.reset_index(inplace=True)
complaints1.rename(columns={'Complaint Type' : 'Complaint Count'}, inplace=True)
complaints1.head()

    Community Board  Complaint Count  Rank
0          01 BRONX            74631  57.0
1       01 BROOKLYN           185057   9.0
2      01 MANHATTAN            77974  55.0
3         01 QUEENS           171484  12.0
4  01 STATEN ISLAND           182713  10.0

In [101]:
complaints1['Rank'] = complaints1['Community Board'].rank(ascending=False)
complaints1.head()

    Community Board  Complaint Count  Rank
0          01 BRONX            74631  59.0
1       01 BROOKLYN           185057  58.0
2      01 MANHATTAN            77974  57.0
3         01 QUEENS           171484  56.0
4  01 STATEN ISLAND           182713  55.0

In [102]:
complaints1.sort(columns='Rank').head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   Community Board  Complaint Count  Rank
58     18 BROOKLYN           156100   1.0
57     17 BROOKLYN           191720   2.0
56     16 BROOKLYN            85467   3.0
55     15 BROOKLYN           146129   4.0
54       14 QUEENS           103396   5.0

In [103]:
complaints1.reset_index(inplace=True)
complaints1.rename(columns={'Complaint Type' : 'Complaint Count'}, inplace=True)
complaints1.head()

   index   Community Board  Complaint Count  Rank
0      0          01 BRONX            74631  59.0
1      1       01 BROOKLYN           185057  58.0
2      2      01 MANHATTAN            77974  57.0
3      3         01 QUEENS           171484  56.0
4      4  01 STATEN ISLAND           182713  55.0

In [104]:
df_pop = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/Final_Demographics.csv")
df_pop.head()

,FIPS,cd_id,Total Population,Population Density (per sq. mile),% Total Population: Male,% Total Population: 18 to 24 Years,% Total Population: 25 to 34 Years,% Total Population: 35 to 44 Years,% Population 5 Years And Over: Speak Only English,% Population 5 Years And Over: Spanish or Spanish Creole,...,"Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations","% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations",% Employed Civilian Population 16 Years And Over: Service occupations,% Employed Civilian Population 16 Years And Over: Sales and office occupations,"% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations","% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Production occupations","% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving occupations: Transportation and material moving occupations"
0,3603701,BX08,106737,31229.95006,46.65,10.73,15.04,11.32,46.80,39.24,...,665,1518,42.66,28.95,20.89,0.24,2.65,4.60,1.40,3.20
1,3603702,BX12,134644,19966.67839,46.35,11.35,14.29,12.57,73.09,18.19,...,1156,4174,29.57,33.98,20.40,0.00,7.08,8.97,1.95,7.02
2,3603703,BX10,121209,12913.81703,45.20,8.62,13.74,12.78,61.79,26.43,...,941,3433,36.20,22.85,25.09,0.00,7.68,8.18,1.76,6.42
3,3603704,BX11,135839,35677.95453,50.09,8.10,17.43,14.09,43.22,36.45,...,2189,5592,30.06,27.86,22.24,0.00,7.03,12.81,3.60,9.20
4,3603705,BX03,172247,39405.79222,44.72,14.24,14.89,12.38,36.82,54.24,...,1437,5436,16.80,41.00,22.29,0.03,8.45,11.43,2.39,9.04

In [105]:
print("There are %d variables in the csv file"%len(df_pop.columns))

There are 158 variables in the csv file

In [106]:
print("There are %d community districts in the file"%len(df_pop.cd_id.unique()))

There are 59 community districts in the file

In [107]:
df_pop.columns

Index([u'FIPS', u'cd_id', u'Total Population',
       u'Population Density (per sq. mile)', u'% Total Population: Male',
       u'% Total Population: 18 to 24 Years',
       u'% Total Population: 25 to 34 Years',
       u'% Total Population: 35 to 44 Years',
       u'% Population 5 Years And Over: Speak Only English',
       u'% Population 5 Years And Over: Spanish or Spanish Creole',
       ...
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations',
       u'% Employed Civilian Population 16 Years And Over: Management, professional, and related occupations',
       u'% Employed Civilian Population 16 Years And Over: Service occupations',
       u'% Employed Civilian Population 16 Years And Over: Sales and office occupations',
       u'% Employed Civilian Population 16 Years And Over: Farming, fishing, and forestry occupations',
       u'% Employed Civilian Population 16 Years And Over: Construction, extraction, and maintenance  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Production occupations',
       u'% Employed Civilian Population 16 Years And Over: Production, transportation, and material moving  occupations: Transportation and material moving occupations'],
      dtype='object', length=158)

In [108]:
#creating a table with only the relavent columns 
demographics = df_pop[['FIPS','cd_id','Median household income (In 2014 Inflation Adjusted Dollars)']]
demographics.head()

      FIPS cd_id  Median household income (In 2014 Inflation Adjusted Dollars)
0  3603701  BX08                                              54224
1  3603702  BX12                                              44906
2  3603703  BX10                                              54962
3  3603704  BX11                                              47910
4  3603705  BX03                                              22041

In [109]:
demographics['cd_id'][15] = 'MN11'

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2881: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [110]:
demographics.head()

      FIPS cd_id  Median household income (In 2014 Inflation Adjusted Dollars)
0  3603701  BX08                                              54224
1  3603702  BX12                                              44906
2  3603703  BX10                                              54962
3  3603704  BX11                                              47910
4  3603705  BX03                                              22041

In [112]:
# Infrastructure by Community District
df_infr = pd.read_csv("http://cosmo.nyu.edu/~fb55/PUI2016/data/ACS_Computer_Use_and_Internet_2014_1Year_Estimate.csv")
df_infr.head()

,FIPS,Geographic Identifier,Qualifying Name,Households,Households: With An Internet Subscription,Households: Dial-Up Alone,Households: Dsl,Households: With Mobile Broadband,Households: Without Mobile Broadband,Households: Cable Modem,...,Households: Mobile Broadband Alone or With Dialup,Households: Internet Access Without A Subscription,Households: No Internet Access,% Households: With An Internet Subscription,Households.1,Households: Has A Computer,Households: With Dial-Up Internet Subscription Alone,Households: With A Broadband Internet Subscription,Households: Without An Internet Subscription,Households: No Computer
0,3603701,79500US3603701,"NYC-Bronx Community District 8--Riverdale, New...",42035,31795,444,2813,946,1867,19178,...,2168,2119,8121,75.64,42035,35048,404,30943,3701,6987
1,3603702,79500US3603702,"NYC-Bronx Community District 12--Wakefield, Ne...",44830,32243,178,849,405,444,18653,...,928,1891,10696,71.92,44830,36700,178,31435,5087,8130
2,3603703,79500US3603703,"NYC-Bronx Community District 10--Co-op City, N...",47050,32729,158,1863,398,1465,20044,...,639,2882,11439,69.56,47050,38700,158,32333,6209,8350
3,3603704,79500US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,44922,32003,141,1478,474,1004,17917,...,1001,2722,10197,71.24,44922,37237,122,31278,5837,7685
4,3603705,79500US3603705,"NYC-Bronx Community District 3 & 6--Belmont, N...",57556,35503,88,1297,651,646,15847,...,1385,3312,18741,61.68,57556,42576,88,33408,9080,14980

In [113]:
df_infr.columns

Index([u'FIPS', u'Geographic Identifier', u'Qualifying Name', u'Households',
       u'Households: With An Internet Subscription',
       u'Households: Dial-Up Alone', u'Households: Dsl',
       u'Households: With Mobile Broadband',
       u'Households: Without Mobile Broadband', u'Households: Cable Modem',
       u'Households: With Mobile Broadband.1',
       u'Households: Without Mobile Broadband.1', u'Households: Fiber-Optic',
       u'Households: With Mobile Broadband.2',
       u'Households: Without Mobile Broadband.2',
       u'Households: Satellite Internet Service',
       u'Households: With Mobile Broadband.3',
       u'Households: Without Mobile Broadband.3',
       u'Households: Two or More Fixed Broadband Types, or Other',
       u'Households: With Mobile Broadband.4',
       u'Households: Without Mobile Broadband.4',
       u'Households: Mobile Broadband Alone or With Dialup',
       u'Households: Internet Access Without A Subscription',
       u'Households: No Internet Access',
       u'% Households: With An Internet Subscription', u'Households.1',
       u'Households: Has A Computer',
       u'Households: With Dial-Up Internet Subscription Alone',
       u'Households: With A Broadband Internet Subscription',
       u'Households: Without An Internet Subscription',
       u'Households: No Computer'],
      dtype='object')

In [114]:
# Check variables in file
print("There are %d variables in the csv file"%len(df_infr.columns))

There are 31 variables in the csv file

In [115]:
# How many community districts are in file? 
print("There are %d community districts in the file"%len(df_infr['Qualifying Name'].unique()))

There are 55 community districts in the file

In [119]:
# Manipulate data to get some information on internet/broadband useage by Community District
# Aggregate the mobile subscription data
internet = pd.DataFrame(df_infr['Qualifying Name'])
internet['Total Mobile Subscription'] = df_infr['Households: With Mobile Broadband'] + \
df_infr['Households: With Mobile Broadband.1'] + df_infr['Households: With Mobile Broadband.2'] + \
df_infr['Households: With Mobile Broadband.3'] + df_infr['Households: With Mobile Broadband.4'] 
internet.head()

,Qualifying Name,Total Mobile Subscription
0,"NYC-Bronx Community District 8--Riverdale, New...",15359
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486
2,"NYC-Bronx Community District 10--Co-op City, N...",11425
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907

In [120]:
# Aggregate internet type by high and low connections
internet.sort(columns='Total Mobile Subscription', ascending=False).head()

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,Qualifying Name,Total Mobile Subscription
16,NYC-Manhattan Community District 8--Upper East...,60021
17,NYC-Manhattan Community District 7--Upper West...,45095
23,NYC-Manhattan Community District 1 & 2--Batter...,39655
22,NYC-Manhattan Community District 1 & 2--Batter...,39655
20,NYC-Manhattan Community District 6--Murray Hil...,38116

In [124]:
# Harmonize identifier of dataframe 1
cb = pd.Series(complaints1['Community Board'])
complaints1['Community Index'] =cb.str.extract('(\d+)', expand=True)
complaints1['Community Borough'] = cb.str.extract('([A-Z]\w{0,})', expand=True)
complaints1.head()

,index,Community Board,Complaint Count,Rank,Community Borough,cd_id,Community Index
0,0,01 BRONX,74631,59.0,BRONX,BX01,01
1,1,01 BROOKLYN,185057,58.0,BROOKLYN,BK01,01
2,2,01 MANHATTAN,77974,57.0,MANHATTAN,MN01,01
3,3,01 QUEENS,171484,56.0,QUEENS,QN01,01
4,4,01 STATEN ISLAND,182713,55.0,STATEN,SI01,01

In [125]:
complaints1['Abbr'] = complaints1['Community Borough']
complaints1['Abbr'] = complaints1['Abbr'].str.replace(pat='BROOKLYN', repl='BK')
complaints1['Abbr'] = complaints1['Abbr'].str.replace(pat='MANHATTAN', repl='MN')
complaints1['Abbr'] = complaints1['Abbr'].str.replace(pat='STATEN', repl='SI')
complaints1['Abbr'] = complaints1['Abbr'].str.replace(pat='BRONX', repl='BX')
complaints1['Abbr'] = complaints1['Abbr'].str.replace(pat='QUEENS', repl='QN')
complaints1['cd_id'] = complaints1[['Abbr', 'Community Index']].apply(lambda x: ''.join(x), axis = 1)
complaints1.drop(['Community Index', 'Abbr'], axis=1, inplace=True)
complaints1.head()

   index   Community Board  Complaint Count  Rank Community Borough cd_id
0      0          01 BRONX            74631  59.0             BRONX  BX01
1      1       01 BROOKLYN           185057  58.0          BROOKLYN  BK01
2      2      01 MANHATTAN            77974  57.0         MANHATTAN  MN01
3      3         01 QUEENS           171484  56.0            QUEENS  QN01
4      4  01 STATEN ISLAND           182713  55.0            STATEN  SI01

In [126]:
# Harmonize identifier of dataframe 2
demographics.head()

      FIPS cd_id  Median household income (In 2014 Inflation Adjusted Dollars)
0  3603701  BX08                                              54224
1  3603702  BX12                                              44906
2  3603703  BX10                                              54962
3  3603704  BX11                                              47910
4  3603705  BX03                                              22041

In [127]:
# Harmonize identifier of dataframe 3
internet.head()

,Qualifying Name,Total Mobile Subscription
0,"NYC-Bronx Community District 8--Riverdale, New...",15359
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486
2,"NYC-Bronx Community District 10--Co-op City, N...",11425
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907

In [128]:
cd = internet['Qualifying Name'].str.split(' ')
cd = pd.Series(cd)

In [130]:
for i in range(len(cd)):
    internet.loc[i,'Borough'] = str(cd[i][0])[4:]

In [131]:
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx

In [132]:
internet['Abbr'] = internet['Borough']
internet['Abbr'] = internet['Abbr'].str.replace(pat='Brooklyn', repl='BK')
internet['Abbr'] = internet['Abbr'].str.replace(pat='Manhattan', repl='MN')
internet['Abbr'] = internet['Abbr'].str.replace(pat='Staten', repl='SI')
internet['Abbr'] = internet['Abbr'].str.replace(pat='Bronx', repl='BX')
internet['Abbr'] = internet['Abbr'].str.replace(pat='Queens', repl='QN')

In [133]:
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough,Abbr
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx,BX
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx,BX
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx,BX
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx,BX
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx,BX

In [134]:
internet['Community Index 1'] = internet['Qualifying Name'].str.extract('(\d+)', expand=True)
internet['Community Index 2'] = internet['Qualifying Name'].str.extract('(\d+\W+\d+)', expand=True)
internet['Community Index 3'] = internet['Qualifying Name'].str.extract('(\d+)(?!.*\d)', expand = True)

In [135]:
internet['Community Index 2'] = internet['Community Index 2'].fillna(0)
community_index = pd.Series(internet['Community Index 2'])

In [136]:
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough,Abbr,Community Index 1,Community Index 2,Community Index 3
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx,BX,8,0,8
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx,BX,12,0,12
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx,BX,10,0,10
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx,BX,11,0,11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx,BX,3,3 & 6,6

In [137]:
flag = 0
for i in range(len(internet['Community Index 2'])):
    if (flag == 1):
        internet['Community Index 1'][i] = internet['Community Index 3'][i]
        flag = 0
    if (internet['Community Index 2'][i] != 0):
        flag = 1

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [138]:
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough,Abbr,Community Index 1,Community Index 2,Community Index 3
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx,BX,8,0,8
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx,BX,12,0,12
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx,BX,10,0,10
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx,BX,11,0,11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx,BX,3,3 & 6,6

In [139]:
internet['Community Index 1'] = internet['Community Index 1'].apply(lambda x: x.zfill(2))
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough,Abbr,Community Index 1,Community Index 2,Community Index 3
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx,BX,08,0,8
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx,BX,12,0,12
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx,BX,10,0,10
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx,BX,11,0,11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx,BX,03,3 & 6,6

In [140]:
internet['cd_id'] = internet[['Abbr', 'Community Index 1']].apply(lambda x: ''.join(x), axis = 1)
internet.head()

,Qualifying Name,Total Mobile Subscription,Borough,Abbr,Community Index 1,Community Index 2,Community Index 3,cd_id
0,"NYC-Bronx Community District 8--Riverdale, New...",15359,Bronx,BX,08,0,8,BX08
1,"NYC-Bronx Community District 12--Wakefield, Ne...",10486,Bronx,BX,12,0,12,BX12
2,"NYC-Bronx Community District 10--Co-op City, N...",11425,Bronx,BX,10,0,10,BX10
3,NYC-Bronx Community District 11--Pelham Parkwa...,10748,Bronx,BX,11,0,11,BX11
4,"NYC-Bronx Community District 3 & 6--Belmont, N...",14907,Bronx,BX,03,3 & 6,6,BX03

In [141]:
internet.drop(['Qualifying Name', 'Borough', 'Community Index 1', 'Community Index 2', 'Community Index 3', 'Abbr'],\
              axis = 1, inplace=True)
internet.head()

   Total Mobile Subscription cd_id
0                      15359  BX08
1                      10486  BX12
2                      11425  BX10
3                      10748  BX11
4                      14907  BX03